.game-over {
  display:flex;
  height:100%;
  // padding: 2rem 0;
  // height:85vh;
  // @include respond(large){
  //   padding: 2rem;
  // }

  // @include respond(small2) {
  //   padding: 0rem;
  //   height: 85vh;
  // }

  // // @include respond(small3) {
  // //   height: 87vh;
  // // }

  &-wrapper {
    text-align: center;
  
    border: 5px solid #fff;
    padding: 2rem;
    margin:auto;
    width:50%;
    background: rgba(0,0,0,.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    @include respond (medium2) {
      width:75%;
    }
    @include respond(small) {
      width:100vw;
      height:85vh;
      padding: 2rem 1rem;
      border: none;
    }

    @include respond(small3) {
      padding: .5rem;
    }
  }

  &-heading{
    margin: 0;
  }

  &-stats {
    margin: 1rem 0;
    
    @include respond(small3) {
      margin: .5rem 0;
    }
  }

  &-img-box{
    width: 20%;
    margin: 0 auto;
    
    @include respond(medium2) {
      width: 30%;
    }

    @include respond(small2) {
      width: 40%; 
    }
  }

  &-message {
    @include respond(small3) {
      margin: .5rem;
    }
  }
}