.question {
  padding: 2rem 0;

  @include respond(large) {
    padding: 2rem;
  }

  @include respond(medium2) {
    padding: 0;
    height: 100vh;
  }

  @media (max-height:800px) and (min-width:900px) {
    padding:1rem 0;
  }

  &-wrapper {
    @include respond(medium2) {
      height: 100%;
      display: flex;
    }
  }
 
  &-content {
    text-align: center;
    border: 5px solid $color-white;
    padding: 1.5rem;
    background-color: rgba($color-black,.5);
    margin: auto;

    @include respond(medium2) {    
      width: 100%;
      height: 100%;
      padding: 2rem;    
      border: none;    
    }

    @include respond(small) {
      padding: 1rem;
    }

    @include respond(small3) {
      padding: .5rem;
    }

    @media (max-height:800px) and (min-width:900px) {
      padding:1rem;
    }
  } 

  &-header { 
    display:flex;
    justify-content: space-around;

    @include respond(medium3) {
      flex-direction: column;
    }
  }

  &-heading {
    text-decoration: underline;
    margin: 0;
    font-size: 1.5rem;

    @include respond(large) {
      font-size: 1.3rem;
    }

    @include respond(small2) {
      font-size: 1.1rem;
    }

    @include respond(small3) {
      font-size: .9rem;
    }
  }

  &-mobile-heading {
    margin: 0;

    @include respond(small2) {
      font-size: 1.6rem;
      margin:1rem;
    }

    @include respond(small3) {
      font-size: 1.1rem;
      margin:.4rem;
    }
  }

  &-count {
    @include respond(medium){
      justify-self: start;
    }

    @include respond(medium2) {
      justify-self: center;
    }
  }

  &-correct-answers {
    @include respond(medium){
      justify-self: end;
    }

    @include respond(medium2) {
      justify-self: center;
    }
  }

  &-box{
    margin-top: 1.5%;
    display: flex;
    align-items: center;
    flex-direction: column; 
  }

  &-question {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin: 1rem 0;

    @include respond(large){
      font-size: 1.6rem;
    }

    @include respond(medium2) {
      font-size: 1.3rem;  
      margin: 5% 0;
    }

    @include respond(small) {
      font-size: 1.2rem;
      margin: 6% 0 3% 0;
    }

    @include respond(small2) {
      font-size: .9rem;
    }

    @include respond(small3) {
      margin: 2% 0;
    }

    @media (max-height:800px) and (min-width:900px) {
      font-size:1.5rem;
      margin:0;
      margin-bottom:.5rem;
    }
  }

  &-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    margin-top: 1rem;

    @include respond(medium2) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }

    @include respond(small2) {
      grid-row-gap: .5rem;
    }

   
  }

  &-list-item {
    height: 100%;

    @include respond(medium2) {
      height: auto;
    }
  }

  &-list-item {
    &:not(:last-child){
      margin-bottom: .5rem;
      @include respond(medium2) {
        margin: 0;
      }
    }
  }

  &-answer-btn {
    width: 100%;
    height: 100%;

    font-size: 1.3rem;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    
    @include respond(medium) {
      font-size: 1.1rem;
      padding: .5rem 1rem;
    }

    @include respond(medium2) {
      height: auto;
    }
    @include respond(medium3) {
      font-size: 1rem;
    }

    @include respond(small2) {
      font-size: .9rem;
    }

    @include respond(small3) {
     padding: .2rem 1rem; 
     font-size:.85rem;
    }

    @media (max-height:800px) and (min-width:900px) {
      line-height:1;
    }
  }

  &-num {
    margin-right:.5rem;
  }

  &-answer {
    margin: 0;
  }

  &-next {
    margin-top: 2rem;
    
    @include respond(medium2) {
      margin-top: 1rem;
      font-size: 1.1rem;
    }

    @include respond(small2) {
      font-size:1rem;
    }
  }
}