.setup {
  padding: 2.5rem 0rem; 

  &-form {
    border:10px solid $color-white;
    margin:50px;
    width:60%;
    padding:1rem;
    text-align: center;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba($color-black,.5);

    // &:focus-within{
    //   background-color: rgba($color-primary,.5);
    // }
  }

  &-name {
    text-align: center;
    width:75%;
    font-size:1.5rem;
    padding:.5rem;
    border-radius:10px;
    letter-spacing:5px;

    &:focus{
      outline:4px solid $color-white;
      background-color:darken($color-white,5);
    }
  }

  &-number-questions, &-difficulty, &-categories{
    padding:.5rem;
    text-align: center;
    font-size:1.5rem;

    &:focus{
      outline:5px solid $color-white;
      background-color:darken($color-white,5);
    }
  }

  &-button {
    background:none;
    margin: 1rem 0;
    color:currentColor;
    padding:1rem 2rem;
    border:5px solid $color-white;
    border-radius:10px;
    transition: transform .3s, background-color .3s;
    &:hover, &:focus {
      transform: translateY(-3px);
      background-color:rgba($color-primary, .5);
    }
  }

  

  &-label{
    font-size:1.5rem;
    margin:.8rem 0;
  }
}