.level {
  
  display:grid;
  grid-template-columns: [full-start] 1fr [middle-start] repeat(12,[col-start] minmax(min-content, 6.6666rem,) [col-end]) [middle-end ]1fr[ full-end];

  &-player-side{
    grid-column:2/5;
  }

  &-question-area{
    grid-column: 5/11;
    text-align: center;
  }

  &-opponent-side{
    grid-column: 11/14;
  }

  &-player-img{

  }

  &-player-life-bar{
    // display:block;
    // width:100%;
    // height:10px;
    // border-radius:20px;
    // background-color:green;
  }

  // &-player-lives{
  //    &::before{
  //      content: '';
       
  //    }
  // }

  &-opponent-lives{
   
  }
}

//RE-USABLE

.life-bar{
    display:block;
    width:100%;
    height:20px;
    border-radius:20px;
    background-color:green;
    transition: width .3s;
}