html {
  font-size:125%;
}

body {
  font-size:1.5rem;
  letter-spacing: 5px;
  font-family: $font-primary;
  background-image: url("./../images/background.png");
  color:$color-white;
  line-height:1.6;
}

.wrapper{
  max-width:1280px;
  margin:0 auto;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

img {
  width:100%;
  height:100%;
  display:block;
}

.btn {
  display:block;
  background:none;
  padding:.5rem 1rem;
  color:currentColor;
  border:5px solid $color-white;
  border-radius:10px;
  transition: transform .3s, background-color .3s;

  &:hover, &:focus {
    transform: translateY(-3px);
    background-color:rgba($color-primary, .5);
  }

  &:disabled {
    background: $color-primary;
    color: darken($color-white,20);

    &:hover, &:focus {
      transform: none;
      background-color:$color-primary;
    }
  }
}