article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-size: 1.5rem;
  font-family: "Bangers", sans-serif;
  letter-spacing: 5px;
  line-height: 1.6;
  background-image: url("./../images/background.png");
  color: #fff; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: 100%;
  display: block; }

.hidden {
  display: none; }

.btn {
  padding: .5rem 1rem;
  border: 5px solid #fff;
  border-radius: 10px;
  background: none;
  color: currentColor;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .btn:hover, .btn:focus {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: inset -1px -2px 7px 50px #9B59B6;
    box-shadow: inset -1px -2px 7px 50px #9B59B6;
    color: #fff; }
  .btn:disabled {
    background: #5B3256;
    color: #cccccc; }
    .btn:disabled:hover, .btn:disabled:focus {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      background-color: #5B3256;
      -webkit-box-shadow: none;
      box-shadow: none; }

.header-heading {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin: 0;
  padding: .5rem 0rem;
  background: -webkit-linear-gradient(330deg, rgba(0, 0, 0, 0.8) 50%, rgba(91, 50, 86, 0.8));
  background: -o-linear-gradient(330deg, rgba(0, 0, 0, 0.8) 50%, rgba(91, 50, 86, 0.8));
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.8) 50%, rgba(91, 50, 86, 0.8)); }

.setup {
  padding: 2rem 0rem; }
  .setup-form {
    width: 60%;
    margin: auto;
    border: 10px solid #fff;
    padding: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); }
  .setup-name {
    width: 75%; }
  .setup-number-questions, .setup-difficulty, .setup-categories, .setup-name {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: .5rem;
    border-radius: 10px; }
    .setup-number-questions:focus, .setup-difficulty:focus, .setup-categories:focus, .setup-name:focus {
      color: white;
      outline: 5px solid #fff;
      background-color: #c6a0d5; }
  .setup-button {
    margin: 1rem 0; }
  .setup-label {
    font-size: 1.5rem;
    margin: .8rem 0; }

.question {
  padding: 2rem 0; }
  .question-content {
    text-align: center;
    border: 5px solid #fff;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5); }
  .question-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
  .question-heading {
    text-decoration: underline;
    margin: 0; }
  .question-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .question-player-name {
    grid-column: 1/-1;
    font-size: 2.25rem;
    margin: 1rem 0 0 0; }
  .question-question {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin: 1rem 0; }
  .question-answers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem; }
  .question-list-item {
    height: 100%; }
  .question-list-item:not(:last-child) {
    margin-bottom: .5rem; }
  .question-answer-btn {
    width: 100%;
    text-align: left;
    height: 100%;
    line-height: 1.2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .question-num {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .question-answer {
    margin: 0; }
  .question-next {
    margin-top: 1rem; }

.game-over {
  padding: 2rem 0; }
  .game-over-heading {
    margin: 0; }
  .game-over-img-box {
    width: 50%;
    margin: 0 auto; }
  .game-over-wrapper {
    text-align: center;
    border: 5px solid #fff;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.5);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .game-over-stats {
    margin: 1rem 0; }
